<%- include("../partials/dash-header.ejs") %>
<div class="container">
    <h1>Orders</h1>

    <div class="card">
        <div class="card-header">
            <a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
            <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
            <span>Order Date: 16 December 2018</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="text-muted">Delivery to</h6>
                    <p><%= order.name %>  <br>
                        Phone +1234567890 Email: <%= order.email %>  <br>
                        Location: <%= order.address.street %>, <%= order.address.city %>, <%= order.address.state %>, <%= order.address.country %> <br>
                        P.O. Box: <%= order.address.zip %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6 class="text-muted">Payment</h6>
                    <span class="text-success">
                        <i class="fab fa-lg fa-cc-visa"></i>
                        Visa **** 4216
                    </span>
                    <p>Subtotal: $356 <br>
                        Shipping fee: $56 <br>
                        <span class="b">Total: $<%= order.orderTotal %> </span>
                    </p>
                </div>
            </div> <!-- row.// -->
            <hr/>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Drivers</th>
                        <th>Actions</th> 
                    </tr>
                    </thead>
                    <tbody>
                        <% order.items.forEach(item => { %>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= item.product.name %></td>
                                <td><%= item.product.price * item.qty %></td>
                                <td><%= item.status %></td>
                                 <td>
                                    <form action="/admin/order-items/<%= item._id %>/assign-driver" method="POST">
                                        <div class="input-group">
                                            <select class="custom-select" id="driver" name="driver" aria-label="Select driver">
                                                <% drivers.forEach(driver => { %>
                                                    <option <%= (`${item.driver._id}` === `${driver._id}` ) ? "selected" : ""; %> value="<%= driver._id %>"><%= driver.identity.name %></option>
                                                <% }) %>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td><a href="/admin/order-items/<%= item._id %>">Track</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
            </table>
        </div>
      </div>
</div>
<%- include("../partials/dash-footer.ejs") %>