<%- include("./partials/header.ejs") %>
<%- include("./partials/carousel.ejs") %>
<div class="container-fluid">
    <%- include("./partials/product-deals.ejs") %>

    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading mb-4">
            <h3 class="title-section">Recommended items</h3>
        </header>

        <div class="row">
            <% if (products) { %>
                <% products.forEach(product => { %>

                    <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <img class="img-fluid p-0" src="<%= product.image %>">
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap text-center">
                                <a href="/shop/products/<%= product._id %>" class="title mb-2"><%= product.name %></a>
                                <div class="price-wrap mb-3">
                                    <span class="price">$<%= product.price %></span><br/>
                                    <small class="text-muted"><%= product.vendor.identity.name %></small>
                                </div> <!-- price-wrap.// -->
                                <hr>
                                <a href="/cart/add/<%= product._id %>" class="btn btn-primary btn-block rounded-pill"><i class="fas fa-cart-plus"></i> Add to Cart</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                 
                <% }) %>
            <% } else { %>
                <div class="col">
                    <p>They store is empty.</p>
                </div>
             
            <% } %>
            
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->


    <!-- =============== SECTION BANNER =============== -->
    <section class="padding-bottom">
        <div class="row">
            <aside class="col-md-6">
                <div class="card card-banner-lg bg-dark">
                    <img src="images/banners/banner4.jpg" class="card-img opacity">
                    <div class="card-img-overlay text-white">
                        <h2 class="card-title">Big Deal on Clothes</h2>
                        <p class="card-text" style="max-width: 80%">This is a wider card with text below and Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Illo ab quae nihil praesentium impedit libero
                            possimus id vero</p>
                        <a href="#" class="btn btn-light">Discover</a>
                    </div>
                </div>
            </aside>
            <div class="col-md-6">
                <div class="card card-banner-lg bg-dark">
                    <img src="images/banners/banner5.jpg" class="card-img opacity">
                    <div class="card-img-overlay text-white">
                        <h2 class="card-title">Great Bundle for You</h2>
                        <p class="card-text" style="max-width: 80%">Card with text below and Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Illo ab quae nihil praesentium impedit libero possimus id vero
                        </p>
                        <a href="#" class="btn btn-light">Discover</a>
                    </div>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION BANNER .//END =============== -->


    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">

        <header class="section-heading mb-4">
            <h3 class="title-section">Daily deals</h3>
        </header>

        <div class="row row-sm">
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="#" class="img-wrap">
                        <b class="badge badge-danger mr-1">10% OFF</b>
                        <img src="images/items/9.jpg">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Just another product name</a>
                        <div class="price-wrap">
                            <span class="price">$45</span>
                            <del class="price-old">$90</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="#" class="img-wrap">
                        <b class="badge badge-danger mr-1">85% OFF</b>
                        <img src="images/items/10.jpg">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Some item name here</a>
                        <div class="price-wrap">
                            <span class="price">$45</span>
                            <del class="price-old">$90</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="#" class="img-wrap">
                        <b class="badge badge-danger mr-1">10% OFF</b>
                        <img src="images/items/11.jpg">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Great product name here</a>
                        <div class="price-wrap">
                            <span class="price">$45</span>
                            <del class="price-old">$90</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="#" class="img-wrap">
                        <b class="badge badge-danger mr-1">90% OFF</b>
                        <img src="images/items/12.jpg">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Just another product name</a>
                        <div class="price-wrap">
                            <span class="price">$45</span>
                            <del class="price-old">$90</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="#" class="img-wrap">
                        <b class="badge badge-danger mr-1">20% OFF</b>
                        <img src="images/items/5.jpg">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Just another product name</a>
                        <div class="price-wrap">
                            <span class="price">$45</span>
                            <del class="price-old">$90</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="#" class="img-wrap">
                        <b class="badge badge-danger mr-1">20% OFF</b>
                        <img src="images/items/6.jpg">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Some item name here</a>
                        <div class="price-wrap">
                            <span class="price">$45</span>
                            <del class="price-old">$90</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->


    <!-- =============== SECTION BANNER =============== -->
    <section class="padding-bottom">
        <article class="box d-flex flex-wrap align-items-center p-5 bg-secondary">
            <div class="text-white mr-auto">
                <h3>Looking for fashion? </h3>
                <p> Popular items, discounts and free shipping </p>
            </div>
            <div class="mt-3 mt-md-0"><a href="" class="btn btn-outline-light">Learn more</a></div>
        </article>
    </section>
    <!-- =============== SECTION BANNER .//END =============== -->
</div>
<%- include("./partials/footer.ejs") %>