<%- include("./partials/header.ejs") %>
<%- include("./partials/carousel.ejs") %>
<div class="container-fluid">
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading mb-4">
            <h3 class="title-section">Recommended items</h3>
        </header>

        <div class="row">
            <% if (products) { %>
                <% products.forEach(product => { %>

                    <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <img class="img-fluid p-0" src="<%= product.image %>">
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap text-center">
                                <a href="/shop/products/<%= product._id %>" class="title mb-2"><%= product.name %></a>
                                <div class="price-wrap mb-3">
                                    <span class="price">$<%= product.price %></span><br/>
                                    <small class="text-muted"><%= product.vendor.identity.name %></small>
                                </div> <!-- price-wrap.// -->
                                <hr>
                                <a href="/cart/add/<%= product._id %>" class="btn btn-primary btn-block rounded-pill"><i class="fas fa-cart-plus"></i> Add to Cart</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                 
                <% }) %>
            <% } else { %>
                <div class="col">
                    <p>They store is empty.</p>
                </div>
             
            <% } %>
            
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <%- include("./partials/half-banners.ejs") %>
    <%- include("./partials/full-banner.ejs") %>
</div>
<%- include("./partials/footer.ejs") %>