<%- include("../partials/header.ejs") %>
<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 2 ================================= -->
        <div class="row">
            <main class="col-md-8">

                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Review cart</h4>
                        <div class="row">
                            <% if (session.cart) { %>
                            <% for(let item of Object.values(session.cart.items)) { %>
                            <div class="col-md-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside"><img src="<%= item.product.image %> " class="border img-sm">
                                    </div>
                                    <figcaption class="info">
                                        <p><%= item.product.name %> </p>
                                        <span class="text-muted"><%= item.qty %>x =
                                            $<%= item.product.price * item.qty %> </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <% } %>
                            <% } %>
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->

                <form method="POST" action="/orders/checkout">
                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Contact info</h4>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="name">Full name</label>
                                    <input type="text" name="name" id="name" placeholder="Type here"
                                        class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Email</label>
                                    <input type="email" name="email" id="email" placeholder="example@gmail.com"
                                        class="form-control">
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Delivery info</h4>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="js-check box active">
                                        <input type="radio" name="delivery" value="option1" checked="">
                                        <h6 class="title">Delivery</h6>
                                        <p class="text-muted">We will deliver by DHL Kargo</p>
                                    </label> <!-- js-check.// -->
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="js-check box">
                                        <input type="radio" name="pickup" value="option1">
                                        <h6 class="title">Pick-up</h6>
                                        <p class="text-muted">Come to our office to somewhere </p>
                                    </label> <!-- js-check.// -->
                                </div>
                            </div> <!-- row.// -->


                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="city">City*</label>
                                    <select name="city" id="city" class="form-control">
                                        <option value="Houston">Houston</option>
                                        <option value="Austin">Austin</option>
                                        <option value="Dallas">Dallas</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="state">State*</label>
                                    <input type="text" value="Texas" name="state" id="state" placeholder="Type here"
                                        class="form-control">
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="street">Street*</label>
                                    <input type="text" name="street" id="street" placeholder="Type here"
                                        class="form-control">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="country">Country</label>
                                    <input type="text" name="country" id="country" value="United States of America"
                                        placeholder="" class="form-control">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" placeholder="" class="form-control">
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->
                    <div class="form-group my-3">
                        <button type="submit" class="btn btn-primary rounded-pill btn-block btn-lg">
                            Checkout
                        </button>
                    </div>
                </form>
            </main> <!-- col.// -->
            <aside class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="mb-3">Overview</h4>
                        <dl class="dlist-align">
                            <dt class="text-muted">Delivery:</dt>
                            <dd>Pick-up</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt class="text-muted">Delivery type:</dt>
                            <dd>Standard</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt class="text-muted">Payment method:</dt>
                            <dd>Cash</dd>
                        </dl>
                        <hr>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="h5">$<%= session.cart.totalPrice %></dd>
                        </dl>
                        <hr>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 2 END//  ================================= -->
    </div> <!-- container .//  -->
</section>
<%- include("../partials/footer.ejs") %>